version: '3'

services: 
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    command: /bin/sh -c "go run main.go"
    stdin_open: true
    tty: true
    volumes: 
      - .:/app
    ports: 
      - 8080:8080
  db:
    image: mysql:5.7
    environment: 
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: test
      MYSQL_PASSWORD: passw0rd
      MYSQL_DATABASE: test_db 
      TZ: 'Asia/Tokyo'
    # command: mysqld --character-set-server=utf8mb4 --collation-server=uft8mb4_unicode_ci
    volumes: 
      - data:/var/lib/mysql
      - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
    ports: 
      - 3306:3306

volumes: 
  data:
    driver: local